@import 'src/assets/styles/index.scss';

.c__address {
  width: 100%;
  min-height: 100vh;
  padding: 60px map_get($spaces, 'normal');
  background: map_get($colors, 'gray');

  .container {
    @include mq('desktop') {
      width: 100%;
    }
  }

  &__content {
    position: relative;
    padding-top: map_get($spaces, 'small');

    &__card {
      padding: map_get($spaces, 'normal');
      background: map_get($colors, 'white');
      margin-bottom: map_get($spaces, 'normal');
    }
  }

  @include mq('tablet') {
    padding: map_get($spaces, 'normal');
    background: map_get($colors, 'white');
    min-height: auto;
  }
}
